<launch>
    <!-- just display -->
    <param name="robot_description" command="$(find xacro)/xacro $(find hunter_gazebo)/urdf/hunter_cmd.urdf.xacro" />
    <!-- 启动 rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hunter_gazebo)/config/display.rviz"/>

    <!-- 关节以及机器人状态发布节点 -->
    <!-- have to pub joint state and robot state -->
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
